.logo {
  width: 5vh;
  margin-right: 5vh;
}

ul.hover a:hover {
  background-color: rgb(184, 57, 235);
}

.e1 {
  margin-top: 5vh;
}

.e1 a, .e1 a:hover {
  text-decoration: none;
  color: blue;
}

.e2 {
  margin-top: 5vh;
}

.e2 a, .e2 a:hover {
  color: green;
  text-decoration: none;
}

.e3 {
  margin-top: 5vh;
}

.e3 a, .e3 a:hover {
  color: rgb(180, 18, 180);
  text-decoration: none;
}

.e4 {
  margin-top: 5vh;
}

.e4 a, .e4 a:hover {
  color: rgb(184, 14, 14);
  text-decoration: none;
}

footer {
  width: 100%;
}
